<div class="row column">
  <%= form.text_field :name, label: t(".name") %>
</div>

<div class="row column">
  <%= form.email_field :email, label: t(".email") %>
</div>

<div class="row column">
  <%= form.select :role, options_for_select(@form.available_roles_for_select, selected: @form.role), label: t(".role") %>
</div>

<div class="card-divider toggle-settings">
  <h2 class="card-title">Configurações avançadas</h2>
</div>
<div class="card-section settings-section">
  <div class="row column">
    <%= form.check_box :needs_entity_fields, label: t(".needs_entity_fields"), checked: true %>
  </div>
  <div class="row column">
    <%= form.select :participatory_process_group_id, options_for_select(
      @form.available_processes_group_for_select, selected: @form.participatory_process_group_id
    ), label: t("decidim.participatory_process_group.participatory_process_group_id") %>
  </div>
</div>

<%= javascript_pack_tag "decidim_participatory_processes_admin" %>
<script>
  $(document).ready(function() {
    $(".settings-section").hide();
    $(".toggle-settings").on("click", function() {
      $(".settings-section").slideToggle();
    });
  });
</script>
