<div class="news-title-container">
  <h1 class="page-title"><%= translated_attribute(current_component.name) %></h1>
   <% if current_user && current_user.admin? %>
   <%= link_to t("actions.new", scope: "decidim.blogs", name: t("models.post.name", scope: "decidim.blogs.admin")), send(current_component.mounted_admin_engine).new_post_path, class: "button tiny button--title" %>
   <% end %> 
</div>

<%= render partial: "medias-section" %>

<% if browser.mobile? %>
  <ul class="news-list">
  <% if paginate_posts.empty? %>
  <div class="br-message info" role="alert">
    <div class="message-icon"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></div>
    <div class="content"><span class="message-title">A página não possui publicação.</span></div>
   </div>
  <% else %>
    <% @prev_year = 0 %>
    <% paginate_posts.each do |post| %>
      <% @aux_date = post.created_at.year %>

      <% if @aux_date < @prev_year || @prev_year == 0 %>
        <% @prev_year = @aux_date %>
        <span class="posts-year">
          <%= @aux_date %>
        </span>
      <% end %>
      <li class="news-item">
        <div class="br-card h-fixed">
          <div class="card-header">
            <%= link_to post, class: "news-title" do %>
              <%= l post.created_at, format: "%d/%m/%Y" %>
               - <%= translated_attribute post.title %>
            <% end %>

            <% if post.photo.present? %>
              <%= link_to post do %>
                <%= image_tag post.photo.url, class: "news-cover-image" %>
              <% end %>
            <% end %>
          </div>

          <% if post.documents.length > 0 %>
            <div class="file-preview-mobile">
              <% @file_size = post.documents[0].file_size.to_f %>
              <%= link_to "Baixar em PDF", post.documents[0].url , class: "download-btn" %>
              - Tamanho do arquivo: 
              <% if @file_size <= 999999%>
                <%= (@file_size / (10.pow(3))).round(2) %> Kb
              <% else %>
                <%= (@file_size / (10.pow(6))).round(2) %> Mb
              <% end %>
            </div>
          <%end%>

          <div class="card-footer">
            <div class="d-flex">
              <%= link_to post, class: "card__link" do %>
                <button class="br-button" type="button">Ler mais</button>
              <% end %>
              <div class="ml-auto">
                <button class="br-button circle" type="button" aria-label="Ícone de compartilhamento"
                onclick="navigator.share({title: '<%= translated_attribute post.title %>', url: '<%= post_path(post) %>'})">
                  <i class="fas fa-share-alt" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <ul>
<% end %>
<% else %>
  <ul class="news-list">
  <% if paginate_posts.empty? %>
  <div class="br-message info" role="alert">
    <div class="message-icon"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></div>
    <div class="content"><span class="message-title">A página não possui publicação.</span></div>
   </div>
  <% else %>
    <% @prev_year = 0 %>
    <% paginate_posts.each do |post| %>
      <% @aux_date = post.created_at.year %>

      <% if @aux_date < @prev_year || @prev_year == 0 %>
        <% @prev_year = @aux_date %>
        <span class="posts-year">
          <%= @aux_date %>
        </span>
      <% end %>

      <li class="news-item">
        <div class="news-card">
          <% if post.photo.present? %>
            <div class="news-image-container">
              <%= link_to post do %>
                <%= image_tag post.photo.url, class: "news-cover-image" %>
              <% end %>
            </div>
          <% end %>

          <div class="news-content">
            <%= link_to post, class: "news-title" do %>
              <%= l post.created_at, format: "%d/%m/%Y" %>
              - <%= translated_attribute post.title %>
            <% end %>

            <% if post.documents.length > 0 %>
              <div class="file-preview">
                <% @file_size = post.documents[0].file_size.to_f %>
                <%= link_to "Baixar em PDF", post.documents[0].url , class: "download-btn" %>
                - Tamanho do arquivo: 
                <% if @file_size <= 999999%>
                  <%= (@file_size / (10.pow(3))).round(2) %> Kb
                <% else %>
                  <%= (@file_size / (10.pow(6))).round(2) %> Mb
                <% end %>
              </div>
            <%end%>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<% end %>

<div class="pagination-container">
  <%= decidim_paginate paginate_posts %>
</div>

<%= render partial: "medias-section" %>