<div class="statistics-controls">
  <button data-open="filter-box" aria-controls="filter-box" aria-haspopup="dialog">
    <span class="proposals__button-circle button-container-style">
      <i class="fas fa-sliders-h size-icon-filter"></i>
    </span>
  </button>
</div>

<%
=begin%>
 <div>
<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="input-group">
        <%= form.search_field :search_text_cont, label: false, class: "input-group-field", placeholder: t(".search"), title: t(".search"), "aria-label": t(".search"), data: { disable_dynamic_change: true } %>
        <div class="input-group-button">
          <button type="submit" class="button" aria-controls="proposals">
            <%= icon "magnifying-glass", aria_label: t(".search"), role: "img" %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div> 
<%
=end%>

<div class="reveal" id="filter-box" data-reveal role="dialog" aria-modal="true" aria-labelledby="filter-box-label">
  <div class="reveal__header">
    <h3 id="filter-box-label" class="reveal__title"><%= t ".filter_by" %>:</h3>
    <button class="close-button" data-close aria-label="<%= t(".close_modal") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="filters">
    <%= render partial: "filters" %>
  </div>
</div>
