<div class="br-list" role="list">
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"><%=t("decidim.components.add_comment_form.form.body.Number_proposals_created")%> </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.proposals_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"><%=t("decidim.components.add_comment_form.form.body.Number_contributions_made")%> </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.comments_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"><%=t("decidim.components.add_comment_form.form.body.Number_votes_cast")%> </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.votes_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"><%=t("decidim.components.add_comment_form.form.body.Votes_received_your_proposals")%> </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.votes_received : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"><%=t("decidim.components.add_comment_form.form.body.contributions_received")%> </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.comments_received : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"><%=t("decidim.components.add_comment_form.form.body.Number_proposals_followed")%> </div> 
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.follows_done : 0%> </div>
        </div>
    </div>
    <span class="br-divider"></span>
    <div class="br-item">
        <div class="lt-row" role="listitem">
            <div class="statistics__list-item"> <%=t("decidim.components.add_comment_form.form.body.Followers_your_proposals")%> </div>
            <div class="statistics__count text-blue-warm-vivid-70"> <%=statistics ? statistics.follows_received : 0%> </div>
        </div>
    </div>
</div>