  <% body_messages = [if translated_attribute(current_component.singular_name).present?
          t("decidim.proposals.proposals.preview.announcement_body", singular_name: translated_attribute(current_component.singular_name).downcase)
        else
          t("decidim.proposals.proposals.preview.announcement_body", singular_name: "proposta")
        end]
    if component_settings.proposal_edit_time == "limited"
      body_messages << t("decidim.proposals.proposals.preview.proposal_edit_before_minutes", count: component_settings.proposal_edit_before_minutes)
    end %>
<%# <%= cell(
    "decidim/announcement",
    {
      title: 
      if translated_attribute(current_component.singular_name).present?
        t("decidim.proposals.proposals.preview.announcement_title", singular_name: translated_attribute(current_component.singular_name).downcase)
      else
        t("decidim.proposals.proposals.preview.announcement_title", singular_name: "proposta")
      end,
      body: body_messages
    },
    callout_class: "warning"
  ) %>
<% if local_assigns[:edit_form_bool] %>
  <h2 class="section-header-text"><%=t("models.components.Edit_your_proposal", scope: "decidim.forms.admin")%></h2> 
<% else %>
  <h2 class="section-header-text"><%= proposal_wizard_step_title action_name %></h2>
<% end %>
<h3 class="section-header-help-text">
  <%=t("models.components.follow_the_instructions", scope: "decidim.forms.admin")%>
</h3>
<p class="help-new-proposal-header">
  <%=t("models.components.Review_your_content", scope: "decidim.forms.admin")%>
</p>
