<% if component_settings.geocoding_enabled? %>
  <%= dynamic_map_for proposals_data_for_map(@all_geocoded_proposals) do %>
    <template id="marker-popup">
      <div class="map-info__content">
        <h3>${title}</h3>
        <div id="bodyContent">
          <p>{{html body}}</p>
          <div class="map__date-address">
            <div class="address card__extra">
              <div class="address__icon">{{html icon}}</div>
              <div class="address__details">
                <span>${address}</span><br>
              </div>
            </div>
          </div>
          <div class="map-info__button">
            <a href="${link}" class="button button--sc">
              <%= t(".view_proposal") %>
            </a>
          </div>
        </div>
      </div>
    </template>
  <% end %>
<% end %>
<%= render partial: "voting_rules" %>

<!--
Aqui é onde renderiza o conteúdo das estatísticas do usuário
Se o usuário n tiver estatísticas, ou se nao tiver estatísticas configuradas
para esse espaço participativo, nada será exibido
TODO: Remover esses comentarios depois da estilização
-->
<% if @user_proposals_statistic %>
<div class="row" style="display: none;">
  <h3>Minhas estatísticas</h3>
  <ul>
    <li>Número de propostas criadas <%= @user_proposals_statistic.proposals_done %></li>
    <li>Número de comentários feitos <%= @user_proposals_statistic.comments_done %></li>
    <li>Número de comentários recebidos <%= @user_proposals_statistic.comments_received %></li>
    <li>Número de votos dados <%= @user_proposals_statistic.votes_done %></li>
    <li>Número de votos recebidos <%= @user_proposals_statistic.votes_received %></li>
    <li>Número de propostas que segue <%= @user_proposals_statistic.follows_done %></li>
    <li>Número de seguidores em minhas propostas <%= @user_proposals_statistic.follows_received %></li>
  </ul>
</div>
<% end %>

<div class="filter-container">
  <h1 class="text-left user-name-title-h1 h1-4col">Olá, <%= current_user.name %></h2>
  <div class="filter-button__container">
    <%= render partial: "filters_small_view" %>
  </div>
</div>

<%= render partial: "decidim/shared/component_announcement" %>

<div class="row columns">
  <div class="title-action title-action-button">
    <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
      <%= action_authorized_link_to :create, new_proposal_path, class: "title-action__action button small", data: { "redirect_url" => new_proposal_path } do %>
        <i class="fa-solid fa-plus fa-xl"></i>
        <span class="title-action-text">Faça sua proposta</span>
      <% end %>
    <% end %>

    <% if component_settings.collaborative_drafts_enabled? %>
      <%= link_to t(".collaborative_drafts_list"), collaborative_drafts_path, class: "title-action__action button small hollow ml-s" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div id="proposals" class="columns mediumlarge-8 large-9" aria-live="polite">
    <%= render partial: "proposals" %>
  </div>
</div>
