<div class="br-container-lg">
  <%= render partial: "admin_actions",
    locals: {mounted_admin_engine: current_participatory_space.mounted_admin_engine,
    current_participatory_space: current_participatory_space,
    current_component: current_component} %>

  <% if component_settings.geocoding_enabled? %>
    <%= dynamic_map_for proposals_data_for_map(@all_geocoded_proposals) do %>
      <template id="marker-popup">
        <div class="map-info__content">
          <h3>${title}</h3>
          <div id="bodyContent">
            <p>{{html body}}</p>
            <div class="map__date-address">
              <div class="address card__extra">
                <div class="address__icon">{{html icon}}</div>
                <div class="address__details">
                  <span>${address}</span><br>
                </div>
              </div>
            </div>
            <div class="map-info__button">
              <a href="${link}" class="button button--sc">
                <%= t(".view_proposal") %>
              </a>
            </div>
          </div>
        </div>
      </template>
    <% end %>
  <% end %>
  <div class="proposals-announcement">
    <%= render partial: "decidim/shared/component_announcement" %>
  </div>
  <%= render partial: "voting_rules" %>
  <div class="filter-container">
    <div class="proposals__buttons-container">
      <% if browser.mobile? %>
        <div class="proposals-button__container">
          <%= render partial: "filters_small_view" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="br-row">
    <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
      <div class="proposals-actions">
        <div class="br-magic-button medium">
            <% if user_full_profile_required? %>
              <% if user_survey_answered? %>
                <%= action_authorized_link_to :create, new_proposal_path,
                  class: "title-action__action br-button primary", data: { "redirect_url" => new_proposal_path } do %>
                  <i class="fa-solid fa-plus fa-sl"></i>
                  <span class="title-action-text">
                    <% if translated_attribute(current_component.singular_name).present? %>
                      <%= t("decidim.proposals.proposals.index.new_proposal", proposal: translated_attribute(current_component.singular_name).downcase) %>
                    <% else %>
                      <%= t("decidim.proposals.proposals.index.new_proposal", proposal: "proposta") %>
                    <% end %>
                  </span>
                <% end %>
              <% end %>
            <% else %>
              <%= action_authorized_link_to :create, new_proposal_path,
                class: "br-button", data: { "redirect_url" => new_proposal_path } do %>
                <span>
                  <i class="fa-solid fa-plus fa-md"></i>
                  <% if translated_attribute(current_component.singular_name).present? %>
                    <%= t("decidim.proposals.proposals.index.new_proposal", proposal: translated_attribute(current_component.singular_name).downcase) %>
                  <% else %>
                    <%= t("decidim.proposals.proposals.index.new_proposal", proposal: "proposta") %>
                  <% end %>
                </span>
              <% end %>
            <% end %>
        </div>
        <span class="proposals-criteria-label">
          <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
          Conheça os critérios para seleção de propostas
        </span>
      </div>
    <% end %>
    <% if component_settings.collaborative_drafts_enabled? %>
      <%= link_to t(".collaborative_drafts_list"), collaborative_drafts_path, class: "title-action__action button small hollow ml-s" %>
    <% end %>
    <div id="export-span" class="br-message info-drop export-span-hollow" role="alert">
      <div class="br-message-container">
        <div class="message-icon-br"><i class="fas fa-check-circle fa-lg" aria-hidden="true"></i></div>
        <div class="content-br">
          <span class="message-title-br">
            A sua exportação está em curso. Receberá um e-mail quando estiver completa.
          </span>
        </div>
      </div>
      <button id="export-span-close" class="br-button circle small" type="button">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <span class="br-divider <% if browser.mobile? %>my-2<% else %>my-4<% end %>"></span>
    <%= filter_form_for filter do |form| %>
      <div class="br-input input-highlight">
        <%= form.search_field :search_text_cont, type: "search",
          label: false, class: "input-group-field", placeholder: t("decidim.proposals.proposals.filters.placeholder",
          name: translated_attribute(current_component.singular_name).present? ?
          translated_attribute(current_component.singular_name).downcase :
          "proposta"),
          "aria-label": "Buscar", id: "input-search-large",
          data: { disable_dynamic_change: true } %>
        <button class="br-button" type="submit" aria-label="Buscar">
          <i class="fas fa-search" aria-hidden="true"></i>
        </button>
      </div>
    <% end %>
    <div class="proposals-content-container">
      <% if not browser.mobile? %>
        <div class="br-card proposals-filters">
          <%= render partial: "filters" %>
        </div>
      <% end %>
      <div id="proposals" class="proposals-br" aria-live="polite">
        <%= render partial: "proposals" %>
      </div>
    </div>
  </div>
</div>
