<div class="card">
  <%= form.hidden_field :participatory_process_group_id, value: participatory_process_group.id %>
  <div class="card-divider">
    <h2 class="card-title"><%= t("models.participatory_process_group_user.name", scope: "decidim.admin") %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.text_field :email, readonly: form_mode == :edit %>
    </div>
    <div class="row column">
      <%= form.select :role, options_for_select(@form.available_roles_for_select, selected: @form.role) %>
    </div>
  </div>

  <div class="card-divider toggle-settings">
    <h2 class="card-title">Configurações avançadas</h2>
  </div>
  <div class="card-section settings-section">
    <div class="row column">
      <%= form.check_box :needs_entity_fields, label: t("decidim.participatory_processes.admin.participatory_process_group_users.new.needs_entity_fields") %>
    </div>
  </div>
</div>
  <%= javascript_pack_tag "decidim_participatory_processes_admin" %>
  <script>
    $(document).ready(function() {
      $(".settings-section").hide();
      $(".toggle-settings").on("click", function() {
        $(".settings-section").slideToggle();
      });
    });
  </script>  