<% if is_comments %>
  <span class="exports dropdown-br br-button secondary black-and-white-btn" data-toggle="export-comments-dropdown"><i class="fa-solid fa-file-export"></i><%= t "actions.export_comments", scope: "decidim.admin" %><i class="fa-solid fa-chevron-down"></i></span>
  <div class="dropdown-pane" id="export-comments-dropdown" data-dropdown data-position=bottom data-alignment=right data-auto-focus="true" data-close-on-click="true">
    <ul class="vertical menu add-components">
      <% component.manifest.export_manifests.each do |manifest| %>
        <% manifest.formats.each do |format| %>
          <% if manifest.name.to_s == "proposal_comments" %>
            <li class="exports--format--<%= format.downcase %> exports--<%= manifest.name %>">
              <%= link_to t("decidim.admin.exports.export_as", name: t("decidim.#{component.manifest.name}.admin.exports.#{manifest.name}"), export_format: t("decidim.admin.exports.formats.#{format}")),
                exports_path(component, id: manifest.name, format: format, resource_id: resource_id),
                method: :post, remote: true%>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <span class="exports dropdown-br br-button secondary black-and-white-btn" data-toggle="export-dropdown"><i class="fa-solid fa-file-export"></i><%= t "actions.export_#{current_component.manifest_name}", scope: "decidim.admin" %><i class="fa-solid fa-chevron-down"></i></span>
  <div class="dropdown-pane" id="export-dropdown" data-dropdown data-position=bottom data-alignment=right data-auto-focus="true" data-close-on-click="true">
    <ul class="vertical menu add-components">
      <% component.manifest.export_manifests.each do |manifest| %>
        <% manifest.formats.each do |format| %>
          <% if manifest.name.to_s == "proposals" %>
            <li class="exports--format--<%= format.downcase %> exports--<%= manifest.name %>">
              <%= link_to t("decidim.admin.exports.export_as", name: t("decidim.#{component.manifest.name}.admin.exports.#{manifest.name}"), export_format: t("decidim.admin.exports.formats.#{format}")),
                exports_path(component, id: manifest.name, format: format, resource_id: resource_id),
                method: :post, remote: true%>
            </li>
          <% end %>

          <% if manifest.name.to_s == "meetings" %>
            <li class="exports--format--<%= format.downcase %> exports--<%= manifest.name %>">
              <%= link_to t("decidim.admin.exports.export_as", name: t("decidim.#{component.manifest.name}.admin.exports.#{manifest.name}"), export_format: t("decidim.admin.exports.formats.#{format}")),
                exports_path(component, id: manifest.name, format: format, resource_id: resource_id),
                method: :post, remote: true%>
            </li>

            <% if format.downcase == "excel" %>
              <span class="br-divider sm my-1"></span>
            <% end %>
          <% end %>

          <% if manifest.name.to_s == "meeting_comments" %>
            <li class="exports--format--<%= format.downcase %> exports--<%= manifest.name %>">
              <%= link_to t("decidim.admin.exports.export_as", name: t("decidim.#{component.manifest.name}.admin.exports.#{manifest.name}"), export_format: t("decidim.admin.exports.formats.#{format}")),
                exports_path(component, id: manifest.name, format: format, resource_id: resource_id),
                method: :post, remote: true%>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>