<div class="component_card__footer">
  <% if has_step? %>
    <div class="card__support__data--left">
      <div class="process-card-step-title"><%= t("layouts.decidim.participatory_processes.participatory_process.active_step") %></div>
      <div class="text-ellipsis"><span class="process-card-step"><%= step_title %></span></div>
    </div>
  <% end %>
  <%= render :tags %>
  <div class="bp-divider"> </div>
  <div class="component_buttons">
    <%= link_to(resource_path, class: "card__button br-button primary large-button") do %>
      <%= t("layouts.decidim.participatory_processes.index.card_button") %>
    <% end %>
  </div>
</div>
