<div class="br-container-lg">
<% add_decidim_meta_tags({
                           image_url: current_participatory_space.attached_uploader(:hero_image).path,
                           description: translated_attribute(current_participatory_space.short_description),
                           url: participatory_process_url(current_participatory_space),
                           twitter_handler: current_organization.twitter_handler
                         }) %>

<%
  edit_link(
    resource_locator(current_participatory_space).edit,
    :update,
    :process,
    process: current_participatory_space
  )
%>

<%= participatory_space_floating_help %>

<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space",
             locals: { text: t("private_space", scope: "decidim.participatory_processes.show") } %>
<% end %>

<%= cell("decidim/announcement", current_participatory_space.announcement) %>

<div>
  <div class="meta-card">
    <p><strong>Órgão/Instituição</strong>: <%= translated_attribute(current_participatory_space.developer_group) %></p>
    <p><strong>Setor</strong>: <%= translated_attribute(current_participatory_space.local_area) %></p>
    <p><strong>Status do processo</strong>: <%= translated_attribute(current_participatory_space.meta_scope) %></p>
    <p><strong>Responsável pela consulta</strong>: <%= translated_attribute(current_participatory_space.target) %></p>
    <p><strong>Publicação no DOU</strong>: <%= translated_attribute(current_participatory_space.participatory_scope) %></p>
    <p><strong>Contato</strong>: <%= translated_attribute(current_participatory_space.participatory_structure) %></p>
  </div>

  <div>
    <div class="section">
      <h2 class="show-for-sr"><%= t(".title") %></h2>
      <div class="lead">
        <%= decidim_sanitize_editor_admin translated_attribute(current_participatory_space.short_description) %>
      </div>
      <%= decidim_sanitize_editor_admin translated_attribute(current_participatory_space.description) %>
    </div>
    <%= attachments_for current_participatory_space %>

    <div class="regions" id="regions">


    </div>

    <div id="meetings-list" class="meetings-list"> </div>
    </div>
  </div>

  <% if current_participatory_space.show_statistics? %>
     <%= cell "decidim/statistics", stats.collection %>
  <% end %>

  <% if current_participatory_space.show_metrics? %>
    <%= render partial: "metrics" %>
  <% end %>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const regions = ['Acre','Alagoas','Amapá','Amazonas','Bahia','Ceará','Distrito Federal','Espírito Santo','Goiás','Maranhão',
    'Mato Grosso','Mato Grosso do Sul','Minas Gerais','Pará','Paraíba','Paraná','Pernambuco','Piauí','Rio de Janeiro','Rio Grande do Norte',
    'Rio Grande do Sul','Rondônia','Roraima','Santa Catarina','São Paulo','Sergipe','Tocantins']

    console.log('ready');

    $('#regions').append(regions.map(region => `<button id="${region}" class="br-button primary">${region}</button>`).join(''));

    $('#regions').on('click', 'button', function() {
      var state = $(this).attr('id');
      console.log(state);
      $.ajax({
        url: '<%= main_app.get_all_meetings_of_a_participatory_process_path %>',
        dataType: 'json',
        data: { state: state },
        success: function(data) {
          var meetingsList = $('#meetings-list');
          meetingsList.empty();
          $.each(data, function(index, meeting) {

            const meetingDiv = document.createElement('div');
            meetingDiv.classList.add('region-meeting');
            meetingDiv.innerHTML = 
                        '<p><strong>Titulo</strong>: ' + meeting.title["pt"] + '</p>' +
                        '<p><strong>Descrição</strong>: ' + meeting.description["pt"] + '</p>';
            meetingsList.append(meetingDiv);
            
          });
        }
      });
    });

  });
</script>

