<%= render partial: "decidim/shared/filter_form_help", locals: { skip_to_id: "meetings" } %>

<%= filter_form_for filter do |form| %>
  <div class="filters__section">
    <div class="filters__search">
      <div class="filters__section br-input input-highlight">
        <%= form.search_field :search_text_cont, label: false, class: "input-group-field", placeholder: "Qual Reunião você procura?", title: t(".search"), "aria-label": t(".search"), data: { disable_dynamic_change: true } %>
          <button class="br-button" type="submit" aria-label="Buscar">
          <i class="fas fa-search" aria-hidden="true"></i>
          </button>
      </div>
    </div>
  </div>

  <%= form.hidden_field "with_availability", value: params.dig("filter", "with_availability") %>

  <% unless @forced_past_meetings %>
    <%= form.collection_radio_buttons :with_any_date, filter_date_values, :first, :last, legend_title: t(".date") %>
  <% end %>

  <%= form.check_boxes_tree :with_any_type, filter_type_values, legend_title: t(".type") %>

  <% if current_component.has_subscopes? %>
    <%= form.check_boxes_tree :with_any_scope, filter_scopes_values, legend_title: t(".scope") %>
  <% end %>

  <% if current_component.categories.any? %>
    <%= form.check_boxes_tree :with_any_category, filter_categories_values, legend_title: t(".category") %>
  <% end %>

  <% if component_settings.creation_enabled_for_participants? %>
    <%= form.check_boxes_tree :with_any_origin, filter_origin_values, legend_title: t(".origin") %>
  <% end %>

  <% if current_user %>
    <%= form.collection_radio_buttons :activity, activity_filter_values, :first, :last, { legend_title: t(".activity") }, "aria-controls": "meetings" %>
  <% end %>
<% end %>
