<div class="br-container-lg meetings__container">
  <% if current_component.settings.maps_enabled? && search.result.not_online.exists? %>
    <%= cell "decidim/meetings/meetings_map", search.result %>
  <% end %>

  <div class="meeting-container">
    <%= render partial: "admin_actions", locals: {
        mounted_admin_engine: current_participatory_space.mounted_admin_engine,
        current_participatory_space: current_participatory_space,
        current_component: current_component
      } 
    %>
  </div>

  <div class="meeting__actions__container">
    <%= render partial: "decidim/shared/component_announcement" %>

    <% if allowed_to?(:create, :meeting) %>
      <div class="br-magic-button medium">
        <%= action_authorized_link_to :create, new_meeting_path, class: "title-action__action button small", data: { "redirect_url" => new_meeting_path } do %>
          <%= t("new_meeting", scope: "decidim.meetings.meetings.index") %>
          <%= icon "plus", role: "img", "aria-hidden": true %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="br-row">
    <div id="meetings" class="columns mediumlarge-8 large-9" aria-live="polite">
      <%= render partial: "meetings" %>
    </div>
  </div>
</div>
