<% add_decidim_page_title(t("devise.sessions.new.sign_in")) %>
<div class="br-container-lg">
  <div class="foreign-login-container">
    <% I18n.with_locale('pt-BR') do %>
      <h1 class="mb-0 mt-5 text-center mb-4"><%= t("devise.sessions.new.sign_in") %></h1>
    <% end %>
    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>
  </div>
  <% I18n.with_locale(:en) do %>
    <div class="card__content large-9 medium-centered">
      <h1 class="mb-0 text-center"><%= t("devise.sessions.new.foreign_login.access") %></h1>
      <div class="mb-0 text-center foreign-subtitle mt-4"><%= t("devise.sessions.new.foreign_login.description") %></div>
    </div>
    <div class="card__content large-8 medium-centered">
      <%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name), html: { class: "register-form new_user" }) do |f| %>
        <div>
          <div class="br-input input-highlight bp-input">
            <%= f.email_field :email, autocomplete: "email", placeholder: "Ex: example@email.com",  required: true %>
          </div>
          <div class="br-input input-highlight bp-input">
            <%= f.password_field :password, {autocomplete: "current-password", placeholder: "•••••••••••••••••••••",  required: true } %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <button class="br-button primary block mt-1">
            <%= t("devise.sessions.new.foreign_login.login") %>
          </button>
        </div>
      <% end %>
      <%= render "decidim/devise/shared/links" %>
    </div>
  <% end %>  
</div>
