<% add_decidim_page_title(t("devise.sessions.new.sign_in")) %>
<div class="br-container-lg">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t("devise.sessions.new.sign_in") %></h1>
      </div>
    </div>
    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>
    <% if current_organization.sign_in_enabled? %>
      <div class="large-centered text-center page-title">
      <h1><%= t("devise.sessions.new.foreigners") %></h1>
      <p>
        <%= t("devise.sessions.new.subtitle") %> <br> <%= t("devise.sessions.new.subtitle_click") %>
      </p>
    </div>
      <% I18n.with_locale(:en) do %>
        <div class="row devise-sign-in-area">
          <div class="columns large-6 medium-centered">
            <div class="card__content">
              <%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name), html: { class: "register-form new_user" }) do |f| %>
                <div>
                  <div class="br-input input-highlight bp-input">
                    <%= f.email_field :email, autocomplete: "email", placeholder: "Ex: example@email.com" %>
                  </div>
                  <div class="br-input input-highlight bp-input">
                    <%= f.password_field :password, {autocomplete: "current-password", placeholder: "•••••••••••••••••••••"} %>
                  </div>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                  </div>
                <% end %>
                <div class="actions">
                  <%= f.submit t("devise.sessions.new.login"), class: "button expanded" %> 
                </div>
              <% end %>
              <%= render "decidim/devise/shared/links" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
