<% add_decidim_meta_tags({
  title: translated_attribute(questionnaire.title),
  description: translated_attribute(questionnaire.description),
}) %>

<%= render partial: "decidim/shared/component_announcement" if current_component.manifest_name == "surveys" %>
<% expected_poll_link = "/processes/" + params[:participatory_process_slug] + "/f/" + params[:component_id] %>

<% if current_participatory_space.should_have_user_full_profile && !current_organization.user_profile_poll_link.include?(expected_poll_link) %>
  <% if current_user.user_profile_poll_answered %>
    <%= render partial: 'decidim/forms/questionnaires/questionnaire_form' %>
  <% else %>
    <span class="message-title"><%= flash[:alert] %></span><a target="_blank" href=<%= flash[:poll_link] %>> Completar Perfil de Usuário</a>
  <% end %>
<% else %>
  <%= render partial: 'decidim/forms/questionnaires/questionnaire_form' %>
<% end %>

<% content_for :js_content do %>
  <%= javascript_pack_tag "decidim_forms" %>
<% end %>
