<div class="column card__animation" id="<%= dom_id(model) %>">
  <div class="card <%= card_classes %>">
    <%= render :label if has_label? %>
    <%= render :top if render_top? %>
    <%= render :image if has_image? %>
    <div class="card__content">
      <%= render :header if has_header? %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= render :badge if has_badge? %>
          <%= Decidim::ContentProcessor.render(description, "div") %>
        </div>
      </div>

      <%= render :tags %>
    </div>

    <%= render :data %>
    <%= render :footer %>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var observer = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add("in-view");
        } 
      });
    }, { threshold: 0.5 }); 

    var cardAnimations = document.querySelectorAll(".card__animation");
    cardAnimations.forEach(function(cardAnimation) {
      observer.observe(cardAnimation);
    });
  });
</script>