<div class="reveal export-reveal" id="confirm-modal" aria-hidden="true" role="dialog" aria-labelledby="confirm-modal-title" data-reveal data-multiple-opened="true">
  <div class="export-form">
    <span class="modal_title" id="confirm-modal-title"><%= t(".title") %></span>
    <div class="confirm-modal-content modal_description"></div>
  </div>
  <div class="bp-divider"></div>
  <div class="export-modal-buttons">
    <a class="br-button secundary black-and-white-btn" role="button" href="#" data-confirm-cancel aria-label="<%= t(".cancel") %>"><%= t(".cancel") %></a>
    <a class="br-button primary" role="button" href="#" data-confirm-ok aria-label="<%= t(".ok") %>"><%= t(".ok") %></a>
  </div>
</div>
