<% if current_user %> 
  <% if current_user.admin? %>
    <button
      class="br-button primary"
      data-open="export_data"
    >
      <i class="fa-solid fa-magnifying-glass-chart m-2"></i>
      Gerar relatório
    </button>
    <div class="reveal" id="export_data" data-reveal>
      <div class="reveal__header">
        <h2 class="reveal__title">Gerar Relatório</h2>
        <button class="close-button" data-close aria-label="Close window" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="br-datetimepicker" data-mode="range" data-type="text">
          <label for="range-input"
            >Escolha as datas para o recebimento do relatório deste processo</label
          >
          <div class="br-input">
            <button class="br-button circle small" type="button" aria-label="Abrir Timepicker" data-toggle="data-toggle" id="range-input-btn" tabindex="-1" aria-hidden="true">
              <i class="fas fa-calendar-alt calendar-export" aria-hidden="true"></i>
            </button>
            <div class="export-calendar-input">
              <input id="range-input" type="text" name="date_range" placeholder="exemplo: 02/02/2024 até 03/02/2025" data-input="data-input" />
            </div>
          </div>
          <input type="hidden" id="emailInput" name="email" value="<%= current_user.email %>" />
          <input type="hidden" id="idInput" name="id" value="<%= current_component.id %>"/>
          <input type="hidden" id="airflowUrlInput" name="airflowUrl" value="<%= host_airflow %>"/>
          <input type="hidden" id="dagIdInput" name="dagId" value="<%= dag_id %>"/>
          <input type="hidden" id="airflowUsernameInput" name="airflowUsername" value="<%= username %>"/>
          <input type="hidden" id="airflowPasswordInput" name="airflowPassword" value="<%= password %>"/>

          <button class="button button--title share-link text-center export_env" type="button" id="submitBtn" >
            Enviar
          </button>
        </div>
      </div>
    </div>

    <div class="reveal" id="sucess_export_data" data-reveal>
      <h2 class="reveal__title">
        O relatório será enviado ao seu email em até duas horas
      </h2>
      <div class="export-close-button">
        <button class="button button--title share-link text-center" data-close>
          fechar
        </button>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $("#submitBtn").on("click", function () {

          var dateRangeInput = $("#range-input").val();
          const email = $("#emailInput").val();
          const id = $("#idInput").val();
          const HOST_AIRFLOW = $("#airflowUrlInput").val();
          const DAG_ID = $("#dagIdInput").val();
          const username = $("#airflowUsernameInput").val();
          const password = $("#airflowPasswordInput").val();
          const basicAuth = "Basic " + btoa(username + ":" + password);

          if (!dateRangeInput) {
            alert("Passe uma data valida");
            return false;
          }

          var dates = dateRangeInput.split(" até ");
          if (dates.length === 2) {
            var startDate = dates[0];
            var endDate = dates[1];

            fetch(`${HOST_AIRFLOW}/api/v1/dags/${DAG_ID}/dagRuns`, {
              method: "POST",
              headers: {
                Authorization: basicAuth,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                conf: {
                  start_date: startDate,
                  end_date: endDate,
                  email: email,
                  component_id: id,
                },
              }),
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Erro na requisição: " + response.statusText);
                }
                return response.json();
              })
              .then((data) => {
                $("#sucess_export_data").foundation("open");
              })
              .catch((error) => {
                console.error("Erro na requisição:", error);
                alert("Erro ao enviar pedido, tente novamente mais tarde.");
              });
          } else {
            alert("Formato da data inválido.");
          }
        });

        $(document).foundation();
      });
    </script>
  <% end %> 
<% end %>
