  <div class="process-nav">
      <div class="row process-nav__content <%= browser.mobile? ? "is-active" : "" %>" id="process-nav-content" data-toggler=".is-active">
        <ul>
          <% items.each_with_index do |item, index| %>
            <li class="<%= "is-active" if item[:active] %>  <%=  "hidden" if false %>">
              <%= link_to item[:url], class: "process-nav__link #{item[:active] ? 'active' : nil}" do %>
                <i class="fa-solid <%= icons[item[:name]] || icons["Sobre"] %>"></i>
                <%= item[:name] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
