  <div class="br-tab process-nav">
      <nav class="tab-nav row process-nav__content <%= browser.mobile? ? "is-active" : "" %>" id="process-nav-content" data-toggler=".is-active">
        <ul class="space-menu">
          <% items.each_with_index do |item, index| %>
            <li class="tab-item <%= "active" if item[:active] %> <%= "hidden" if false %>">
              <%= link_to item[:url] do %>
                <i class="fa-solid <%= icons[item[:name]] || 'fa-image' %>"></i>
                <span class="name">
                  <%= item[:name] %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
  </div>