<% I18n.with_locale(:en) do %>
  <% if @resource.unconfirmed_email.blank? %>
    <p class="email-greeting"><%= t(".greeting", recipient: @resource.name) %></p>
  <% end %>

  <% if @resource.is_a?(Decidim::User) %>
    <% if (authorization = Decidim::Authorization.find_by(user: @resource)).present? && authorization.try(:verification_metadata).try(:[], 'rejected') %>
      <p><%= t(".authorization_briefing.rejected") %></p>
    <% elsif authorization.granted_at.present? %>
      <p><%= t(".authorization_briefing.granted") %></p>
    <% end %>
  <% end %>

  <p class="email-instructions"><%= t(".instruction") %></p>
  <p class="email-button email-button__cta">
    <%= link_to t(".action"), confirmation_url(@resource, confirmation_token: @token, host: @resource.organization.host) %>
  </p>

  <p class="email-instructions">
    <%= t(".resend_documentation") %>
    <a href="https://brasilparticipativo.presidencia.gov.br/id_documents/authorizations/new?using=online">
      resend documentation
    </a>
  </p>
  <p class="email-instructions"><%= t(".acknowledgment") %></p>
  <p class="email-instructions"><%= t(".farewell") %></p>
<% end %>