<% if online_meeting_url? %>
  <div class="card--secondary">
    <div class="online-meeting-card online-meeting-container">
      <% if live? %>
        <div class="online-meeting-transmission-title">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.281 4.06309C19.9906 4.0857 19.7131 4.19237 19.4823 4.37007C19.2515 4.54778 19.0775 4.78882 18.9814 5.06379C18.8853 5.33875 18.8714 5.63574 18.9413 5.9185C19.0112 6.20126 19.1619 6.45755 19.375 6.65609C20.209 7.48841 20.8702 8.47736 21.3207 9.56609C21.7712 10.6548 22.0021 11.8218 22 13.0001C22.0014 14.1782 21.7702 15.3451 21.3198 16.4337C20.8693 17.5223 20.2084 18.5114 19.375 19.3441C19.2302 19.4824 19.1144 19.6483 19.0346 19.832C18.9548 20.0157 18.9125 20.2135 18.9102 20.4137C18.9078 20.614 18.9456 20.8127 19.0212 20.9982C19.0968 21.1837 19.2086 21.3522 19.3503 21.4938C19.4919 21.6355 19.6604 21.7473 19.8459 21.8229C20.0314 21.8985 20.2301 21.9363 20.4303 21.9339C20.6306 21.9316 20.8284 21.8893 21.0121 21.8095C21.1958 21.7297 21.3617 21.6139 21.5 21.4691C23.7417 19.2206 25.0005 16.1751 25.0005 13.0001C25.0005 9.82506 23.7417 6.77954 21.5 4.53109C21.3629 4.38615 21.1983 4.27002 21.0158 4.18949C20.8332 4.10896 20.6365 4.06564 20.437 4.06209C20.385 4.05938 20.333 4.05938 20.281 4.06209V4.06309ZM5.37501 4.09309C5.04258 4.13718 4.73452 4.29139 4.50001 4.53109C2.2583 6.77954 0.999481 9.82506 0.999481 13.0001C0.999481 16.1751 2.2583 19.2206 4.50001 21.4691C4.63834 21.6139 4.80422 21.7297 4.98791 21.8095C5.1716 21.8893 5.3694 21.9316 5.56967 21.9339C5.76995 21.9363 5.96866 21.8985 6.15414 21.8229C6.33962 21.7473 6.50812 21.6355 6.64975 21.4938C6.79137 21.3522 6.90326 21.1837 6.97885 20.9982C7.05443 20.8127 7.09217 20.614 7.08987 20.4137C7.08756 20.2135 7.04525 20.0157 6.96542 19.832C6.88559 19.6483 6.76986 19.4824 6.62501 19.3441C5.79104 18.5118 5.1298 17.5228 4.67931 16.4341C4.22882 15.3454 3.99796 14.1783 4.00001 13.0001C3.99862 11.8219 4.22978 10.6551 4.68023 9.56647C5.13068 8.47783 5.79157 7.48881 6.62501 6.65609C6.85176 6.43588 7.00315 6.14967 7.05758 5.83831C7.11201 5.52695 7.06669 5.20635 6.92809 4.92228C6.78949 4.6382 6.56469 4.40517 6.28579 4.25644C6.00688 4.10772 5.68813 4.04989 5.37501 4.09309ZM9.18801 7.40609C8.85912 7.44145 8.55114 7.58454 8.31201 7.81309C7.58631 8.46871 7.00573 9.26885 6.60757 10.1621C6.20941 11.0554 6.00246 12.0221 6.00001 13.0001C6.00001 15.0481 6.87001 16.9101 8.28101 18.1881C8.42678 18.3214 8.59738 18.4248 8.78309 18.4922C8.96879 18.5596 9.16596 18.5898 9.36333 18.581C9.5607 18.5723 9.75441 18.5247 9.9334 18.4411C10.1124 18.3574 10.2732 18.2394 10.4065 18.0936C10.5399 17.9478 10.6432 17.7772 10.7106 17.5915C10.7781 17.4058 10.8082 17.2086 10.7995 17.0113C10.7907 16.8139 10.7431 16.6202 10.6595 16.4412C10.5758 16.2622 10.4578 16.1014 10.312 15.9681C9.89686 15.5935 9.56542 15.1355 9.33935 14.6241C9.11327 14.1126 8.99764 13.5593 9.00001 13.0001C8.99794 12.4407 9.1138 11.8872 9.34003 11.3756C9.56627 10.8641 9.8978 10.4059 10.313 10.0311C10.5527 9.82261 10.7199 9.54343 10.7907 9.23378C10.8616 8.92413 10.8322 8.6 10.707 8.30808C10.5818 8.01616 10.3671 7.77153 10.094 7.60943C9.82081 7.44733 9.50423 7.37613 9.18801 7.40609ZM16.594 7.40609C16.2965 7.42249 16.0107 7.52711 15.7729 7.7066C15.5351 7.8861 15.3561 8.13235 15.2588 8.41395C15.1615 8.69554 15.1503 8.99974 15.2265 9.28775C15.3028 9.57576 15.4631 9.83454 15.687 10.0311C16.1025 10.4057 16.4342 10.8638 16.6604 11.3754C16.8867 11.8871 17.0024 12.4407 17 13.0001C17.0021 13.5595 16.8862 14.113 16.66 14.6245C16.4337 15.1361 16.1022 15.5943 15.687 15.9691C15.5199 16.0939 15.3806 16.2522 15.2781 16.4339C15.1756 16.6156 15.1122 16.8167 15.0918 17.0243C15.0714 17.2319 15.0945 17.4415 15.1597 17.6396C15.2249 17.8378 15.3307 18.0202 15.4704 18.1751C15.61 18.3301 15.7805 18.4542 15.9708 18.5396C16.1612 18.6249 16.3672 18.6697 16.5758 18.6709C16.7844 18.6721 16.991 18.6298 17.1823 18.5467C17.3737 18.4635 17.5455 18.3414 17.687 18.1881C18.413 17.5324 18.9939 16.7322 19.3922 15.8387C19.7905 14.9452 19.9976 13.9783 20 13.0001C20.0037 12.0239 19.8026 11.0578 19.4097 10.1642C19.0168 9.27054 18.4409 8.46926 17.719 7.81209C17.5694 7.67087 17.3923 7.56196 17.1987 7.49211C17.0052 7.42227 16.7993 7.39299 16.594 7.40609ZM13 11.1881C12.6417 11.1883 12.2914 11.2947 11.9936 11.494C11.6957 11.6932 11.4636 11.9762 11.3267 12.3074C11.1897 12.6385 11.1539 13.0028 11.2239 13.3542C11.294 13.7056 11.4666 14.0284 11.7201 14.2817C11.9735 14.535 12.2964 14.7075 12.6479 14.7773C12.9993 14.8472 13.3636 14.8112 13.6947 14.6741C14.0257 14.5369 14.3086 14.3046 14.5077 14.0067C14.7068 13.7087 14.813 13.3584 14.813 13.0001C14.8134 12.7619 14.7668 12.526 14.6758 12.3058C14.5848 12.0857 14.4513 11.8857 14.2829 11.7172C14.1144 11.5488 13.9144 11.4153 13.6943 11.3243C13.4741 11.2333 13.2382 11.1877 13 11.1881Z" fill="#1351B4"/>
          </svg>
          <span class="online-meeting-transmission-title-text"><%= t("live_event", scope: "decidim.meetings.meetings.show") %></span>
        </div>
        <div>
          <% unless show_embed? %>
            <p><small><%= t("micro_camera_permissions_warning", scope: "decidim.meetings.meetings.show") %></small></p>
          <% end %>
        </div>
        <div class="online-meeting-transmission-permission-text">
          <span><%= t("live_permission_notice", scope: "decidim.meetings.meetings.show") %></span>
        </div>
      <% end %>
      <% if show_embed? || model.authored_by?(current_user) %>
        <div class="<%= "margin-top-1" if live? %> absolutes aspect-ratio-16-9">
          <%== embed_code(request.host) %>
        </div>
        <div class="margin-top-1">
          <span class="online-meeting-link">
            <%= t("live_link", scope: "decidim.meetings.meetings.show") %>
          </span>
          <a href="<%= model.online_meeting_url %>" class="online_video_link">
            <%= model.online_meeting_url %>
          </a>
        </div>
      <% elsif future? %>
        <div class="absolutes">
          <% if live? %>
            <%= link_to t("join", scope: "decidim.meetings.meetings.show"), live_event_url, target: "_blank", class: "button button--sc" %>
          <% elsif future? %>
            <span><%= t("link_closed", scope: "decidim.meetings.meetings.show") %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="card--secondary">
    <div class="card__content address">
      <div class="address__info">
        <%= icon "timer", role: "img", "aria-hidden": true, remove_icon_class: true, width: 40, height: 70 %>
        <div class="address__details">
          <span><%= t("link_available_soon", scope: "decidim.meetings.meetings.show") %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
