<div class="docs__header-container">
  <div class="docs__title-container">
    <h3 class="section-heading"><%= t("decidim.attachment_title") %></h3>
    <p><%= t("decidim.attachment_description") %></p>
  </div>
  
  <% if current_user.admin? %>
    <% send_url = "/participatory_processes/" + current_participatory_space.slug + "/attachments" %>
    <a class="title-action br-magic-button medium" href="<%= send_url %>">
      <span class="title-action__action br-button" data-asw-orgfontsize="20" style="font-size: 20px;">
        <i class="fa-solid fa-plus fa-md"></i>
        <%= t("decidim.attachment_send_button") %>
      </span>
    </a>
  <% end%>

  <span class="br-divider"></span>
</div>

<div class="section documents">
  <% if (documents_without_collection = documents.reject(&:attachment_collection_id?)).any? %>
    <% documents_without_collection.each do |document| %>
      <%= render partial: "decidim/application/document", locals: { document: document } %>
    <% end %>
  <% end %>
  <% documents.select(&:attachment_collection_id?).group_by(&:attachment_collection).sort_by { |c, d| c.weight }.each do |collection, documents| %>
    <%= render partial: "decidim/application/collection", locals: { attachment_collection: collection, documents: documents } %>
  <% end %>
</div>
