<div id="dc-dialog-wrapper" class="flex-center hide robots-noindex robots-nocontent noindex" data-nosnippet role="region">
  <div class="dc-dialog padding-vertical-1 botton-cookies">
    <div class="row expanded">
      <div class="columns medium-12 large-8">
        <div class="dc-content">
          <div class="h5 text-cookies-booton">
            <%= t("layouts.decidim.data_consent.dialog.title") %>
          </div>
          <div class="text-cookies-booton">
            <%= t("layouts.decidim.data_consent.dialog.description") %>
          </div>
        </div>
      </div>
      <div class="columns medium-12 large-4">
        <div class="dc-button-wrapper flex-center">
          <button id="dc-dialog-settings" class="br-button small btn-manage manage" data-open="dc-modal">
            <%= t("layouts.decidim.data_consent.dialog.settings") %>
          </button>
          <button id="dc-dialog-reject" class="br-button secondary dark-mode mr-3 botton-button-cokies">
            <%= t("layouts.decidim.data_consent.dialog.reject") %>
          </button>
          <button id="dc-dialog-accept" class="br-button secondary dark-mode mr-3 botton-button-cokies">
            <%= t("layouts.decidim.data_consent.dialog.accept_all") %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
