<li class="participatory-text-item">
<% if interactive? %>
  <%= link_to resource_path do %>
    <%= title %>
    <%= body %>
  <% end %>
  <%= render :buttons %>
<% else %>
  <div>
    <%= title %>
    <%= body %>
  </div>
<% end %>
</li>
